:root {
  --title-color: #24B655;
  --button-color: #24B655;
  --button-hover-color: #46ce73;
}

[data-theme='dark'] {
  --auth-nav-color: white;
  --button-color: #666;
  --button-hover-color: #BBB;
  --title-color: white;
  --navigate-color: #BBB;
}

.auth-nav-description {
  color: var(--auth-nav-color);
}

.auth-nav {
  color: var(--navigate-color);
}

.note-auth__wrapper {
  height: 60vh;
  display: grid;
  align-content: center;
}

.note-auth__header {
  display: flex;
  margin: auto;

  width: 24em;
  height: 3.4em;
  padding: 4px 16px;

  align-items: center;
  justify-content: center;
}

.note-auth__header h2 {
  margin: 8px 0;
  cursor: default;
  color: var(--title-color);
}

.note-auth__body {
  width: 18em;
  margin: 1em auto;
}

.note-auth__input {
  width: 100%;
}

.note-auth__input::placeholder {
  color: var(--placeholder-color);
}

.notes-auth__button {
  padding: 10px 18px;
  margin-top: 1em;
  
  cursor: pointer;
  background: none;
  border-radius: 6px;
  height: max-content;
  border-style: solid;

  color: white;
  border-color: var(--button-color);
  background-color: var(--button-color);

  transition: all 0.3s ease-in-out;
}

.notes-auth__button:hover {
  border-color: var(--button-hover-color);
  background-color: var(--button-hover-color);
}
