@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --loading: #666;
  --brand-color: #24B655;
  --page-not-found-nav: blue;
  --loading-background: rgba(255, 255, 255, 0.4);
  --add-button: #24B655;
  --add-button-hover: #46ce73;
  --logout-color: #666;
  --background-color: #eee;
  --note-card-delete-color: #ff5f52;
  --note-card-delete-color-hover: #b00020;
  --note-card-archive-color: #22c74b;
  --note-card-archive-color-hover: #17da47;
  --note-card-unarchive-color: #c78522;
  --note-card-unarchive-color-hover: #daad17;
  --active-navigation: #24B655;
  --active-navigation-color: white;
  --inactive-navigation-button: #BBB;
  --active-navigation-hover: #30c461;
  --inactive-navigation: #666;
  --inactive-navigation-button-hover: #CCC;
}

[data-theme='dark'] {
  --loading: white;
  --loading-background: #222;
  --brand-color: #DDD;
  --font-color: white;
  --page-not-found-nav: #888;
  --logout-color: white;
  --input-placeholer: white;
  --background-color: #222;
  --add-button: #666;
  --add-button-hover: #777;
  --placeholder-color: white;
  --note-card-delete-color: #ccc;
  --note-card-delete-color-hover: #888;
  --note-card-archive-color: #ccc;
  --note-card-archive-color-hover: #888;
  --note-card-unarchive-color: #ccc;
  --note-card-unarchive-color-hover: #888;
  --active-navigation: #666;
  --active-navigation-hover: #888;
  --inactive-navigation: white;
  --inactive-navigation-button: #333;
  --inactive-navigation-button-hover: #444;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  transition: background 0.3s ease-in;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  /* background-color: #202124; */
  /* color: white; */
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: var(--font-color);
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: var(--placeholder-color);
}

.note-app__header {
  border-bottom: 1px solid #aaa;
}

.note-app__heaader__wrapper {
  display: flex;
  width: 1000px;
  height: 100%;
  height: 3.4em;
  padding: 4px 16px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.note-app__header h1 {
  cursor: default;
}

.note-app__header__logo {
  margin-right: 0.4em;
  height: 60%;
}

.note-app__header h1 {
  margin: 8px 0;
  color: var(--brand-color);
}

.note-app__header__brand-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}


.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-app__body__actions {
  gap: 4px;
  display: flex;
  margin-bottom: 1em;
  align-items: center;
  justify-content: space-between;
}

.notes-app__body__button-add {
  cursor: pointer;
  padding: 8px 18px;
  background: none;
  border-radius: 6px;
  height: max-content;
  border-style: solid;

  color: white;
  border-color: var(--add-button);
  background-color: var(--add-button);
  transition: all 0.3s ease-in-out;
}

.notes-app__body__button-add:hover {
  border-color: var(--add-button-hover);
  background-color: var(--add-button-hover);
}

.note-app__body__buttons {
  gap: 6px;
  margin: 8px 0;
  display: flex;
}

.notes-app__button {
  cursor: pointer;
  padding: 10px 64px;
  background: none;
  border-radius: 6px;
  height: max-content;
  border-style: solid;
}

.notes-app__button__idle {
  color: var(--inactive-navigation);
  background: var(--inactive-navigation-button);
  border-color: var(--inactive-navigation-button);
  transition: all 0.2s ease-in-out;
}

.notes-app__button__idle:hover {
  background: var(--inactive-navigation-button-hover);
  border-color: var(--inactive-navigation-button-hover);
}

.notes-app__button__selected {
  color: var(--active-navigation-color);
  background: var(--active-navigation);
  border-color: var(--active-navigation);
}

.notes-app__button__selected:hover {
  background: var(--active-navigation-hover);
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
  position: relative;

  min-height: 500px;
}

.notes-list__loading-wrapper {
  display: flex;
  position: absolute;

  width: 100%;
  height: 100%;
  opacity: 40%;
  background-color: var(--loading-background);

  gap: 8px;
  margin-bottom: 48px;
  justify-content: center;

  z-index: 1;
}

.notes-list__loading {
  margin: auto;
  color: var(--loading);
}

.notes-list__empty-message {
  gap: 8px;
  position: relative;
  justify-content: center;
  display: flex;
  color: #aaa;
  margin-bottom: 48px;

  min-height: 500px;
}

.notes-list__empty-message img {
  margin: auto 0;
  height: 38px;
}

.notes-list__empty-message p {
  margin: auto 0;
}

.note-search input {
  margin: 0;
  color: var(--input-placeholer);
}

.note-item {
  color: var(--font-color);
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  cursor: pointer;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #aaa;
  cursor: pointer;
}

.note-item__body {
  font-size: 14px;
  cursor: pointer;
}

.note-item__action {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 10px;
  gap: 8px;
}

.note-app__logout-button {
  gap: 0.3em;
  display: flex;
  align-items: center;

  border: none;
  font-size: 12pt;
  cursor: pointer;
  background: none;
  transition: all 0.2s ease-in-out;

  opacity: 60%;
  color: var(--logout-color);
}

.note-app__logout-button:hover {
  opacity: 100%;
}

.note-item__delete-button,
.note-item__archive-button,
.note-item__unarchive-button {
  border: none;
  background: none;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.note-item__delete-button {
  color: var(--note-card-delete-color);
}

.note-item__delete-button:hover {
  color: var(--note-card-delete-color-hover);
}

.note-item__archive-button {
  color: var(--note-card-archive-color);
}

.note-item__archive-button:hover {
  color: var(--note-card-archive-color-hover);
}

.note-item__unarchive-button {
  color: var(--note-card-unarchive-color);
}

.note-item__unarchive-button:hover {
  color: var(--note-card-unarchive-color-hover);
}

.page-not-found__wrapper {
  width: max-content;
  align-content: center;
  height: 70vh;
  display: grid;
  margin: auto;
  color: var(--font-color);
}

.page-not-found__nav {
  margin-top: 0.4em;
  text-align: center;
  color: var(--page-not-found-nav);
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}