.tw-text-grey {
  color: #aaa;
}

.tw-bg-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.tw-bg-100 {
  background-color: rgba(255, 255, 255, 1);
}

.tw-text-brown {
  color: salmon;
}

.tw-text-red {
  color: red;
}

.tw-text-transparent {
  color: transparent;
}