[data-theme='dark'] {
  --font-color: white;
}

.theme-toggler {
  color: var(--font-color);
  margin-left: 1em;
  background: none;
  border: none;
  cursor: pointer;
  gap: 4px;
  font-size: 12pt;
  align-items: center;
  display: flex;
}
